$bg-white: #ffffff;
$main-bg: rgb(251, 248, 236);
$bg-green: #70c05b;
$bg-grey: #8f8f8f;
$text-grey: #414141;
$orange-color: #ff6633;
$card-orange: #fcd5ba;
$bg-lightgreen: #e5ffde;
$bg-dark: #232323;
$footer-bg:#F9F4E2;